@tailwind base;
@tailwind components;
@tailwind utilities;

.my-list {   
    margin: 50px 0 0 0;
}

.my-list-each-record {               
    padding: 0% 0% 5% 0%;
    margin: 0px;
    
}

.title {
    position: relative;
    flex-direction: column;
    left: 10%;
    padding: 15px;
    width: 80%;
    font-size: 24px;
    background-color: #570DF8;
    color: white;
    margin: 15px;
    border-radius: 15px;
    filter: drop-shadow(-3px -3px 2px rgba(255,255,255,0.3))
            drop-shadow(2px 2px 2px rgba(0,0,0,0.2))
}

.sub-title {    
    position: relative;
    padding: 10px;
    width: 80%;
    left: 10%;
    font-size: 18px;
    color: #570DF8;
    margin: 15px;    
    border-radius: 15px;
}

.wordsRandom, .wordsNotRandom {    
    padding: 10px 15% 10px 15%;    
    font-size: 28px;
    font-weight: 700;
}

.buttons-my-list { 
    position: relative;   
    width: 80%;
    left: 10%;
    margin: 5px;
    padding: 5px;
}

.card-my-list {
    position: absolute;
    width: 80%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 10%; 
    margin-top: 5%;   
}

/* .btn.btn-outline {
    padding: 5px 5px 45px 5px;
    margin: 5px;    
}

.btn.btn-outline.first {
    padding: 5px 5px 5px 5px;
    margin: 5px;    
}

.ascendingOrder, .descendingOrder { 
    border: none;
} */



/* INPUT */
.input-group {
    position: relative;    
    left: 20%;
}

.input-bordered {
    position: relative;
    width: 60%;    
}

.btn-square {
    margin: 0px;
}
/* INPUT */


.complete-list {
    background-color: lightgray;
    padding: 0 5% 5% 5%;
    margin-top: 3%;
}

.english-column {
    width: 35%;
    text-align: center;
    color: #570DF8;    
}

.portuguese-column {
    width: 35%;
    text-align: center;
    color: #570DF8;    
}

.buttons-column {
    width: 30%;    
}

#wordByWord td {    
    text-align: center;
    white-space: pre-wrap;
    font-size: 16px;
    font-weight: 700;
}

.english-line {
    
}
.portuguese-line {
    /* text-align: center;
    word-wrap:break-word;
    white-space: pre-wrap; */
}
.buttons-line {

}
.translation2 {
    /* text-align: center;
    word-wrap:break-word;
    white-space: pre-wrap; */
}
